*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mercedes-logo{
    height: 96px;
    margin-left: 25px;
    margin-top: 15px;
    margin-right: 25px;
    cursor: pointer;
}
.navbar{
    background-color: rgb(255, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 130%;
    height: 130px;
    margin-left: -10px;
    position: fixed;
    transition: 0.4s ease;
    transform: translate(0%);
}
.navbar-toggle{
    transform: translateY(-110%);
}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-left: 20px;
    display: inline-block;
    margin-left: 60px;
}
a:hover{
    text-decoration: underline;
    color: black;
}
.a-classes{
    margin-left: 150px;
    margin-top: -60px;
}
button{
    border-radius: 16px;
    background-color: rgb(244, 244, 244);
    border: none;
    height: 40px;
    width: 100px;
    font-size: 17px;
    transition: 0.4s ease;
    cursor: pointer;
}
.button-movement{
    margin-left: 850px;
    margin-top: -35px;
}
.test{
    margin-left: 15px;
}
button:hover{
    background-color: none;
    border: NONE;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.button-info {
    margin-right: 40px;
}
@keyframes pulse{
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
.sidebar-icon-png{
    margin-top: 20px;
    margin-left: 1350px;
    height: 75px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}
.h1-class{
    margin-top: 175px;
    margin-left: 120px;
}
h2{
   margin-left: 145px; 
   font-weight: 500;
}
strong{
    text-decoration: underline;
}
.mercedes-about{
    width: 512px;
    margin-left: 75px;
}
.mercedes-info{
    margin-bottom: -190px;
}
.cls63-image{
    height: 356px;
    margin-left: 690px;
    margin-top: -250px;
    cursor: pointer;
}
.mercedes-alt-about{
    margin-top: 290px;
    color: rgb(112, 112, 112);
    width: 1500px;
}